{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="ThemeStarz" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Varela+Round" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/selectize.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/user.css' %}" />
    <title>User Profile</title>

</head>
<body>
    <div class="page sub-page">
        <header class="hero">
            <div class="hero-wrapper">
                {% include 'Wendy/header.html' %}
                <div class="page-title">
                    <div class="container">
                        <h1>My Profile</h1>
                    </div>
                </div>
                <div class="background"></div>
            </div>
        </header>

        <section class="content">
            <section class="block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <nav class="nav flex-column side-nav">
                                <a class="nav-link active icon" href="/my-profile"><i class="fa fa-user"></i>My Profile</a>
                                <a class="nav-link icon" href="/my-ads"><i class="fa fa-heart"></i>My Ads Listing</a>
                                <a class="nav-link icon" href="/bookmarks"><i class="fa fa-star"></i>Bookmarks</a>
                                <a class="nav-link icon" href="/change-password"><i class="fa fa-recycle"></i>Change Password</a>
                                <a class="nav-link icon" href="/sold-items"><i class="fa fa-check"></i>Sold Items</a>
                                <a class="nav-link" href="/manage-permissions">Manage User</a>
                            </nav>
                        </div>
                        <div class="col-md-9">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2>Personal Information</h2>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="name" class="col-form-label required">Your Name</label>
                                                        <input name="username" type="text" class="form-control" id="name" placeholder="Your Name" value="{{ user.username }}" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="location" class="col-form-label">Your Location</label>
                                                <input name="location" type="text" class="form-control" id="input-location2" placeholder="Your Location" value="{{ user.location }}" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="about" class="col-form-label">More About You</label>
                                                <textarea name="about" id="about" class="form-control" rows="4">{{ user.about }}</textarea>
                                            </div>
                                        </section>

                                        <section>
                                            <h2>Contact</h2>
                                            <div class="form-group">
                                                <label for="phone" class="col-form-label">Phone</label>
                                                <input name="phone" type="text" class="form-control" id="phone" placeholder="Your Phone" value="{{ user.phone }}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-form-label">Email</label>
                                                <input name="email" type="email" class="form-control" id="email" placeholder="Your Email" value="{{ user.email }}" />
                                            </div>
                                        </section>

                                        <section class="clearfix">
                                            <button type="submit" class="btn btn-primary float-right">Save Changes</button>
                                        </section>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="profile-image">
                                            <div class="image background-image">
                                                {% if user.user_image %}
                                                    <img src="{{ user.user_image.url }}" alt="Profile Picture" />
                                                {% else %}
                                                    <img src="{% static 'assets/img/author-09.jpg' %}" alt="Default Profile Picture" />
                                                {% endif %}
                                            </div>
                                            <div class="single-file-input">
                                                {{ form.user_image }}
                                                <label for="id_user_image" class="btn btn-framed btn-primary small">Upload a picture</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        {% include 'Wendy/footer.html' %}
    </div>

    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/selectize.min.js' %}"></script>
    <script src="{% static 'assets/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/icheck.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>
